{% extends "layout/main.html" %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ loginForm }}
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
  
        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->
    </div>
  </div>
{% endblock %}